# Database parameters
DB_NAME=wp_example
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost

# Environment
WP_ENV=development

# Environment urls
ENV_DEVELOPMENT=http://dev.stash.io
ENV_STAGING=http://staging.stash.io
ENV_PRODUCTION=http://stash.io

# Deploy parameters (Only needed on local .env file/remove online)
REPO=git@github.com:undefinedio/stash.git
STAGING_SERVER=stash.io
STAGING_USER=staging
STAGING_PATH=stash
PRODUCTION_SERVER=stash.io
PRODUCTION_USER=production

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# ACF PRO
ACF_PRO_KEY=Your-Key-Here