@mixin placeholder($color: black, $text-transform: capitalize) {
    ::-webkit-input-placeholder {
        color: $color;
        text-transform: $text-transform;
    }
    :-moz-placeholder {
        color: $color;
        text-transform: $text-transform;
    }
    ::-moz-placeholder {
        color: $color;
        text-transform: $text-transform;
    }
    :-ms-input-placeholder {
        color: $color;
        text-transform: $text-transform;
    }
}

$media: screen;
$feature: min-width;

@mixin mq($breakpoint) {
    @if $breakpoint == mp {
        // mobile portrait
        @media #{$media} and ($feature: 320px) {
            @content;
        }
    } @else if $breakpoint == ml {
        // mobile landscape
        @media #{$media} and ($feature: 480px) {
            @content;
        }
    } @else if $breakpoint == n {
        // note
        @media #{$media} and ($feature: 643px) {
            @content;
        }
    } @else if $breakpoint == fb {
        // facebook duh!
        @media #{$media} and ($feature: 800px) {
            @content;
        }
    }
}

@mixin omega-reset($nth) {
    &:nth-child(#{$nth}) {
        margin-right: flex-gutter();
    }
    &:nth-child(#{$nth}+1) {
        clear: none;
    }
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin spacer($location: 'top', $multiplier : 1, $how: 'padding') {
    @if ($location == 'all') {
        #{$how}: $default-spacer * $multiplier;
    } @else {
        #{$how}-#{$location}: $default-spacer * $multiplier;
    }

    @include media($medium-screen-up) {
        @if ($location == 'all') {
            #{$how}: ($default-spacer * map-get($bp-multiplier, tablet)) * $multiplier;
        } @else {
            #{$how}-#{$location}: ($default-spacer * map-get($bp-multiplier, tablet)) * $multiplier;
        }
    }

    @include media($large-screen-up) {
        @if ($location == 'all') {
            #{$how}: ($default-spacer * map-get($bp-multiplier, desktop)) * $multiplier;
        } @else {
            #{$how}-#{$location}: ($default-spacer * map-get($bp-multiplier, desktop)) * $multiplier;
        }
    }
}