$row-padding: (
    mobile: 15px,
    desktop: 30px
);

.row {
    @include outer-container;

    width: 100%;
    padding-left: map-get($row-padding, mobile);
    padding-right: map-get($row-padding, mobile);

    @include media($large-screen-up) {
        padding-left: map-get($row-padding, desktop);
        padding-right: map-get($row-padding, desktop);
    }

    @include media($max-width + map-get($row-padding, desktop)) {
        padding-left: 0;
        padding-right: 0;
    }
}